
.contact_us { margin-bottom:20px; width:100%; display:inline-block; }

.left_contact_part {
    font-family: Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
    margin: 0;
    padding: 0;
}
.left_contact_part h1 {
    color: #2656a5;
    font-size: 18px;
    margin: 0;
    padding: 30px 0;
}
.contact_field {
    background-image: linear-gradient(to bottom, #fff 0px, #f8f8f8 100%);
    border-radius: 10px;
    border:1px solid #c7a95a;
    min-height: 485px;
    padding: 65px;
    width: 97%;
}
.contact_field h2 {
    color: #2656a5;
    font-size: 14px;
    font-weight: normal;
    margin: -8px 10px -9px -6px;
    padding: 0 0 0 0px;
}
.contact_field span {
    color: #990000;
}
.contact_form {
    margin: 0;
    padding: 4px 0;
}
.contact_form p {
    color: #333333;
    float: left;
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 0px;
    width: 130px;
}
.form_name {
    border:1px solid #bbbbbb;
    height: 23px;
    width: 215px;
}
.contact_form textarea {
    border:1px solid #bbbbbb;
    width: 215px;
}
.submit_btn {
    background: url("../images/submit_btn_img_03.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
    float: right;
    font-size: 14px;
    height: 31px;
    margin: 34px 30px 0 0;
    padding: 0;
    width: 61px;
}
.business_contact {
    float: left;
    margin: 15px 0;
    padding: 0;
    width: 260px;
}
.business_contact article {
    color: #2656a5;
    font-size: 14px;
    line-height: 23px;
}
.business_contact section {
    color: #343434;
    font-size: 14px;
    line-height: 23px;
}
.business_contact section a {
    color: #343434;
    font-size: 14px;
    line-height: 23px;
}
.right_contact_part {
    background-image: linear-gradient(to bottom, #fff 0px, #f8f8f8 100%);
    border-radius: 10px;
    border:1px solid #c7a95a;
    float: left;
    font-family: Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
    font-size: 12px;
    min-height: 618px;
    margin: 80px 0 0;
    padding: 0 27px 0 61px;
}
.right_contact_part h3 {
    color: #2656a5;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
}
.countries_contact {
    padding: 5px 0;
}
.contact_info {
    width: 529px;
}
.right_contact_part p {
    color: #343434;
    font-size: 11px;
    line-height: 19px;
}
.contact_form a {
    color: #092b71;
    font-size: 14px;
    text-decoration: none;
}
.contact_form input {
    padding: 1px 0 1px 3px;
}