/* 
    Document   : pages.css
    Created on : Aug 1, 2013, 1:21:11 PM
    Author     : Ubaid
    Description:
        Purpose of the stylesheet follows.
*/


.page_content {
    margin: 0 auto;
    padding: 1px;
    width: 960px;
    font-family: Segoe,"Segoe UI","DejaVu Sans","Trebuchet MS",Verdana,sans-serif;
}
.page_content h2:first-child {
    color: #2656A5;
    font-size: 18px;
    margin: 15px 0 15px;
}
.page_content p {
    color: #4A4A4A;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 5px 0 15px;
}

.page_content ol {
    color: #4A4A4A;
    font-size: 14px;
    padding: 0 0 15px 50px;
}

.page_content ol li {
    line-height: 24px;
    padding: 0;
}
.page_content ul {
    color: #4A4A4A;
    font-size: 14px;
    padding: 0 0 15px 50px;
}

.page_content ul li {
    line-height: 24px;
    padding: 0;
}

.page_content hr { border:1px solid #000 !important; }