
#wrapper_5 { width: 100%; }

#carousel_5 { width: 100% !important; height: 350px; overflow: hidden; position: relative !important; z-index: 1; top: 0; left: 0; }

.collection_half_div { min-height:550px; border: 1px solid #c7a95a; width:100%; padding:20px; text-align:center; }

.caroufredsel_wrapper { width: 100% !important; top:0 !important; }

#carcarousel { width: 100%; height: 400px; overflow: hidden; position: absolute; top: 0; left: 0; }

#carcarousel img { display: block; float: left; width: 100% !important; margin: 0 auto !important;  }

#carthumbnails { width: 100% !important; height: 120px !important; overflow: hidden; top: 350px !important; left: 0; z-index: 2  !important; }

#carthumbnails img { display: block; float: left; margin: 10px; width: 100px; height: 100px; box-shadow: 0 0 10px #000; }

#carthumbnails:hover { top:260px !important; transition:all 0.5s ease; }

#carousel_5 img { display: block; width:230px !important; height:350px; margin: 0 auto !important; }

#pager_5 { width: 100%; overflow: hidden; position: absolute; z-index: 2; padding-left:57px; height:350px; }

#pager_5 img { display: inline-block; float: left; width: 100px; height: 138px; opacity: 0.7; margin: 20px 15px; }

#pager_5 img.selected { background: url(img/thumb-selected.png) 0 0 no-repeat transparent; width: 100px; height: 138px; opacity: 1; }

.dictionary-text p { margin: 0; color:#070707; font-size:14px; padding-bottom:20px; padding-left:30px; }

.dictionary-text p a { color:#070707; }

.product-detail { padding-left:20px; }

.product-detail h3 { padding: 20px 0 10px 0; margin: 0; color:#464646; font-size:24px; font-weight:bold; }

.rating-part { border-bottom: 1px solid #c7a95a; border-top: 1px solid #c7a95a; float:left; width:100%; padding: 10px 0; margin-bottom:20px; }

.rating-nmbr { float:left; display:inline-block; color:#565656 !important; margin-top:10px; }

.write-review { float:left; display:inline-block; margin-left:30px; width:100px; }

.write-review a, .write-wishlist a { color:#565656; }

.write-review span { float:left !important; margin-right:5px !important; padding-top:10px; }

.write-review b, .write-wishlist b, .label { font-size:14px !important; color:#565656 !important; }

.write-wishlist { float:left; display:inline-block; margin-left:30px; width:100px; }

.write-wishlist span { float:left !important; margin-right:5px !important; padding-top:10px; }

.product-detail p { color:#464646; font-size:20px; padding: 0; margin: 0; }

.product-detail p b { color:#70b219; }

.over-line { text-decoration:line-through; }

.rs-text { font-size:28px; }

.read-sample-btn { margin-right:30px; margin-top:10px; width:200px; }

.shop-now-btn { margin-top:10px; width:200px; }

.product-description { padding: 0; margin: 0; }

.product-description h3 { padding: 20px 0 10px 0; margin: 0; color:#464646; font-size:20px; font-weight:bold; }

.product-description p { padding: 0; margin: 0; }

.product-border { border-top:1px solid #c7a95a; margin-top:20px; }

.left-td { width:30%; color:#000000; font-size:14px; border-left:none; }

.right-td { width:70%; color:#464646; font-size:14px; border-right:none; }

.product-description article { color:#464646; font-size:16px; text-align:center; background:#f1f1f1; border:1px solid #cacaca; padding: 6px 0; margin: 0 0 20px 0; }

.product-description article b { font-size:18px; }

.reviews { border-top:1px solid #c7a95a; padding: 0; margin: 0; }

.more-products { padding-left:30px; }

.more-products h3 { border-bottom: 1px solid #bababa; font-size:20px; color:#464646; font-weight:bold; padding-bottom:10px; margin: 20px 0 0 0; }

.list-detail-img a img { border:3px solid #dddddd; }

.list-detail-description { padding-left:10px; }

.list-detail-description h4 { color:#464646; font-size:16px; padding: 0 0 5px 0; margin: 0; font-weight:bold; }

.list-detail-description p { color:#bc0d0d; font-size:20px; padding: 0; margin: 0; font-weight:bold; }

.list-detail-description p b { color:#464646; font-size:16px; }

.rating-xs { font-size:15px !important; }

.rating-gly-star { padding: 0 !important; margin: 0 !important; }

.list-detail-row { padding: 15px 0; margin: 0; border-bottom: 1px solid #bababa; }

.bottom_collection_detail{ position:relative; /*background:#33F;*/ }

.bottom_collection_detail h3{font-family:calibri; font-size:22px; color:#252525; border-bottom:#c7a95a solid 1px; padding:30px 0 15px 15px;}

.collection_images{ position:relative; /*background:#666;*/ margin-top:25px; text-align:center; }

.collection_images img { margin: 0 auto; }

.collection_images figure{float:left; display:inline; position:relative;}

.collection_images figure figcaption {font-family:calibri; font-size:18px; color:#252525; padding-left:15px; text-align:left; }

.order-row { border-top: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; text-align:center; margin: 20px auto 10px auto; }

.order-row p span { float:left; font-size:45px; margin-top:10px; color:#565656; }

.order-row p { padding: 0; margin: 0; font-weight:bold; font-size:24px; }

.order-row p a { color:#1c1c1c; font-weight:bold; float:left; text-align:center; margin: 0 0 0 20px; }

.track-order { border-right: 1px solid #f0f0f0; padding: 10px 0; }

.online-canel { border-left: 1px solid #f0f0f0; padding: 10px 0; }

.easy-return { padding: 10px 0; }

.track-order p span { margin-left:50px; }

.easy-return p span { margin-left:40px; }

.online-canel p span { margin-left:40px; }

#gallery_01 img{ border:2px solid white; }

#gallery_01 .active img{ border:1px solid #c7a95a !important; }

#gallery_01 a img { margin:10px 5px !important; }