
* { padding: 0; margin: 0; }

body, html { padding: 0; margin: 0; }

body { background:#FFF; font-family: 'MyriadPro-Regular'; }

@font-face { font-family: 'Calibri Regular'; src:url(../fonts/Calibriregular.eot); src:url(../fonts/Calibriregular.ttf); src:url(../fonts/Calibriregular.otf); }

@font-face { font-family: 'MyriadPro-Regular'; src:url(../fonts/MyriadPro-Regular.eot); src:url(../fonts/MyriadPro-Regular.ttf); src:url(../fonts/MyriadPro-Regular.otf); }

.facebook-like-btn { background:#0e6eb0; width:100%; float:left; padding: 10px 0; margin: 0; border-bottom:1px solid #bababa; }

.facebook-like-btn span { color:#FFF; font-size:14px; padding: 0; margin: 0; font-family: 'Calibri Regular'; }

.logo { /*background: url('../images/image-sprite.png') no-repeat -1px -2px; width: 72px; height: 89px;*/ padding: 0; margin: 15px 0; }

.header-right { padding-top:15px; }

.gplus-btn-header, .fb-btn-header, .tweet-btn-header { float:right; display:inline-block; margin: 0 7px; }

.order-cart-help { padding: 10px 0; margin: 0 auto; width:75%; }

.order-cart-help p { display:inline; border-right:1px solid #c7c7c7; padding: 10px 15px; margin: 0; }

.no-border { border-right:none !important; }

.order-cart-help p a span { position:relative; top:7px; margin-left:10px; }

.order-cart-help p a:hover { text-decoration:none; }

.order-bg { background: url('../images/image-sprite.png') no-repeat -167px -35px; width: 40px; height: 23px; display: inline-block; }

.cart-bg { background: url('../images/image-sprite.png') no-repeat -251px -35px; width: 21px; height: 23px; display: inline-block; }

.help-bg { background: url('../images/image-sprite.png') no-repeat -326px -35px; width: 23px; height: 23px; display: inline-block; }

.order-cart-help p a { color:#3d3d3d; font-size:14px; font-weight:bold; }

.header-right-bottom { padding-top:5px; }

.styled-select .btn-input { display: block; }
 
.styled-select .btn-input .btn span { text-align:center !important;}
 
.styled-select .btn-input .btn.form-control { text-align: left; }
 
.styled-select .btn-input .btn.form-control span:first-child { left: 10px; overflow: hidden; position: absolute; right: 25px; top:7px; }
 
.styled-select .btn-input .btn.form-control .caret { margin-top: -1px; position: absolute; right: 30px; top: 70%; border-bottom-color: #8f8f8f !important; border-top-color: #8f8f8f !important; }

.styled-select .select-btn { border:none !important; background: none !important; box-shadow:none !important; }

.styled-select .dropdown-menu { top:150% !important; z-index:10000; }

.search-bar { border:1px solid #bbbbbb; border-radius:0; height:44px; float:left; width:75%; }

.list-styled-select { float:left; width:25%; border:1px solid #bbbbbb; height:44px; border-left:none !important; }

.list-styled-select .btn-input { display: block; }
 
.list-styled-select .btn-input .btn span { text-align:center !important;}
 
.list-styled-select .btn-input .btn.form-control { text-align: left; }
 
.list-styled-select .btn-input .btn.form-control span:first-child { left: 10px; overflow: hidden; position: absolute; right: 25px; top:12px; line-height:16px; }
 
.list-styled-select .btn-input .btn.form-control .caret { margin-top: -1px; position: absolute; right: 10px; top: 60%; border-bottom-color: #ddc37f !important; border-top-color: #ddc37f !important; }

.list-styled-select .select-btn { border:none !important; background: none !important; box-shadow:none !important; }

.list-styled-select .dropdown-menu { top:115% !important; z-index:10000; }

.search-click-btn { margin-left:6px; }

.modal-close { color:#000 !important; border-radius:50%; border: 3px solid #000 !important; font-size:18px !important; padding: 3px !important; opacity:1 !important; }

.modal-content { padding: 0 10px !important; border-radius: 0 !important; border: 10px solid #cccccc !important; }

.modal-header { border-bottom: 1px solid #ddc37f !important; }

.email-td { text-align:left !important; top: 0 !important; color:#252525 !important; font-size:14px !important; vertical-align: top !important; }

.search-td { text-align:left !important; color:#252525 !important; font-size:10px !important; padding: 0 20px 10px 20px; }

.forgot-pswrd { color:#252525 !important; margin-left:7px; }

.create-one { color:#252525; font-size:12px; }

.email-search { width:100%; padding: 5px 3px; margin-bottom:3px; border: 1px solid #ababab; }

.left-col { border-right: 1px solid #ddc37f !important; }

.right-col { padding-left:45px; }

.right-col p { padding: 10px 0px !important; border-right:0 !important; }

.right-col p a { padding: 0px 15px !important; }

.left-gift { padding: 40px 10px; margin: 0; }

.left-gift h3 { color:#d14242; font-size:74px; padding: 0; margin: 0; font-weight:bold; line-height:65px; }

.left-gift p { color:#252525; font-size:14px; padding: 0; margin: 0; line-height:15px; display:block; border-right:none; }

.right-gift { text-align:center; background: url(../images/gift-bg.png) repeat #ddc37f; padding: 100px 0; }

.btn-get { background:#ddc37f; width:85px; border-radius:0; height:24px; border:none; line-height:12px !important; margin-top:30px; }

.gift-size { font-size:150px !important; color:#624804; }

.modal-gift-body { padding: 0 !important; margin: 0 !important; }

.modal-gift-close { position:absolute; top: 20px; right:20px; width:30px !important; height:30px !important; border:none !important; padding: 0 !important; margin: 0 !important; text-shadow: none !important; }

.modal-track-close { border:none !important; }

.or { height:50px; width:50px; border-radius:50%; border: 1px solid #aaaaaa !important; background:#FFF; position:absolute; right:-24px; text-align:center !important; top: 70px; padding: 9px 0 0 0px !important; font-size:22px; color:#000000; }

.login-btn { width:70px; display:block; bottom: -40px; position:relative; color:#000000; font-size:12px; border-radius:0; background:#ddc37f !important; border:0; }

.order-btn { color:#000000; font-size:12px; border-radius:0; background:#ddc37f !important; border:0; }

.row-tr { margin-bottom:5px; }

.right-col p a { color:#252525; font-size:14px; padding-left:5px; }

.modal-dialog { width:670px !important; margin: 11% auto 0 auto !important; }

.social-login-btn a { display:block; margin: 10px 0; }

.navbar-nav { width:100% !important; }

.navbar-nav > li { width:20% !important; }

.navbar-default { color: #252525; background-color: #FFF; border-top: 1px solid #c7a95a; border-bottom: 1px solid #c7a95a; }

.navbar-default .navbar-nav > li > a { color:#252525; font-size:16px; text-align:center !important; }

.navbar-default .navbar-nav > li > a:hover { text-decoration:underline; }

.navbar-default .navbar-nav > .dropdown > a .caret{ border-top-color: #fff; border-bottom-color: #fff; }

.navbar-default .navbar-brand { color:#fff; }

.menu-large { position: static !important; }

.megamenu{ padding: 20px 0px; width:100%; }

.megamenu> li > ul { padding: 0; margin: 0; }

.megamenu> li > ul > li { list-style: none; }

.megamenu> li > ul > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.428571429; color: #333333; white-space: normal; }

.megamenu> li ul > li > a:hover, .megamenu> li ul > li > a:focus { text-decoration: none; color: #262626; background-color: #f5f5f5; }

.megamenu.disabled > a, .megamenu.disabled > a:hover, .megamenu.disabled > a:focus { color: #999999; }

.megamenu.disabled > a:hover, .megamenu.disabled > a:focus { text-decoration: none; background-color: transparent; background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); cursor: not-allowed; }

.megamenu.dropdown-header { color: #428bca; font-size: 18px; }

.dropdown:hover .dropdown-menu { display: block; }

@media (max-width: 768px) {
  
.megamenu{ margin-left: 0 ; margin-right: 0 ; }

.megamenu> li { margin-bottom: 30px; }

.megamenu> li:last-child { margin-bottom: 0; }

.megamenu.dropdown-header { padding: 3px 15px !important; }

.navbar-nav .open .dropdown-menu .dropdown-header{ color:#fff; }

}

.sign-up-row { background:#f6f6f6; border:1px solid #e1e1e1; border-radius:10px; padding: 15px; }

.sign-up-for-newsletter p { padding: 0; margin: 0; }

.sign-up-for-newsletter p span { float:left; color:#ce2b28; font-size:24px; padding: 0; margin: 0 10px 0 0; }

.sign-up-form { border:1px solid #e1e1e1; min-width:300px !important; padding: 5px; }

.follow-us p { padding: 0; margin: 0; }

.follow-us p a { -webkit-transition: all ease 0.1s; -moz-transition: all ease 0.1s; -o-transition: all ease 0.1s; -ms-transition: all ease 0.1s; transition: all ease 0.1s; display:inline-block; margin: 0 0px 0 20px; padding: 0; }

.follow-us p span { float:left; color:#3d3d3d; font-size:24px; padding: 0; margin: 0; }

.twitter { background: url('../images/image-sprite.png') no-repeat -621px -31px; width: 32px; height: 31px; }

.facebook { background: url('../images/image-sprite.png') no-repeat -696px -31px; width: 33px; height: 31px; }

.google-plus { background: url('../images/image-sprite.png') no-repeat -771px -31px; width: 32px; height: 31px; }

.twitter:hover { background: url('../images/image-sprite.png') no-repeat -996px -31px; width: 32px; height: 31px; }

.facebook:hover { background: url('../images/image-sprite.png') no-repeat -1071px -31px; width: 33px; height: 31px; }

.google-plus:hover { background: url('../images/image-sprite.png') no-repeat -1146px -31px; width: 32px; height: 31px; }

.follow-us p a:hover { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -o-transform:rotate(360deg); -ms-transform:rotate(360deg); transform:rotate(360deg); border-radius:50%; }

.footer { padding: 30px 20px; float:left; }

.footer h3 { color:#000000; font-size:20px; padding: 0 0 10px 0; margin: 0; }

.footer ul {}

.footer ul li { list-style:none; }

.footer ul li a { color:#6f6f6f; font-size:18px; }

.footer p { color:#6f6f6f; font-size:18px; padding: 0; margin: 0; }

.bottom-footer { border-top: 1px solid #c7a95a; padding: 20px 0px 30px 0; margin: 0; float:left; width:100%; }

.bottom-footer p { text-align:center; color:#3d3d3d; font-size:16px; padding: 0; margin: 0; }

.bottom-footer p a { color:#3d3d3d; font-size:16px; border-right:1px solid #3d3d3d; padding: 0 10px; margin: 0; }

.bottom-footer p a:last-child { border-right: none; }

.label-default { background:none !important; color:#464646 !important; font-size:14px !important; }

.label { color:#464646 !important; }

.clear-rating i { display:none !important; }

.button-cart { padding-left:22px !important; padding-right:22px !important; }

.button-main-search { padding-left:22px !important; padding-right:22px !important; }

.cart-head h4 { color:#000; font-weight:bold; font-size:16px; border-right:1px solid #ddc37f; border-left:1px solid #ddc37f; border-top:1px solid #ddc37f; padding: 10px 15px; margin: 10px 0 0 35px; max-width:100px; }

.modal-cart-dialog { width:930px !important; margin: 7% auto 0 auto !important; }

.modal-cart-close { top:10px !important; }

.cart-table { border-top:1px solid #ddc37f; border-bottom:1px solid #ddc37f; }

.cart-table tr th { border-top:1px solid #ddc37f !important; border-bottom:1px solid #ddc37f !important; text-align:center !important; font-weight:600 !important; }

.cart-table tr td { text-align:center !important; padding:25px !important; font-size:16px; }

.cart-table tr td span { color:#64a657 !important; font-weight:bold !important; }

.cart-table tr td i { font-weight:normal !important; font-style:normal !important; margin-top:40px; float:right; }

.cart-table tr td img { float:left; }

.cart-table tr td:nth-child(1) { text-align:left !important; width:40% !important; }

.cart-table tr td:nth-child(2) { background:#fcfcfc; font-weight:bold !important; }

.cart-table tr td:nth-child(3) { background:#f9f9f9; font-weight:bold !important; }

.cart-table tr td:nth-child(4) { text-align:right !important; }

.cart-table tr td:nth-child(5) { background:#f9f9f9; font-weight:bold !important; }

.estimated-total { border-top:1px solid #000; background:#f9f9f9; border-bottom:1px solid #f2f2f2; padding: 10px 15px; }

.estimated-total input { padding: 6px 5px; border: none; border: 1px solid #cccccc; margin-right:10px; }

.estimated-total form { padding: 0; margin: 0; }

.estimated-total form a { margin: 0; border-radius:0; vertical-align:bottom !important; }

.estimated-total p{ text-align:right !important; font-size:27px; padding: 0; margin: 0; color:#000; }

.contineu-shopping { padding: 10px 15px 20px 15px; }

.contineu-shopping span { margin: 0 10px !important; }

.contineu-shopping .pull-left { color:#7a7a7a; font-size:17px; }

.contineu-shopping .btn { margin-right:10px !important; }

.shopping-contact { color:#7a7a7a; text-decoration:underline; }

.contineu-shopping .pull-right a { background: #ddc37f; border-radius:0 !important; font-weight:bold; color:#000; font-size:20px; width:80%; float:right; }

.sign-in-out-btn p { text-align:right; }

.sign-up-table { width:95% !important; }

.sign-in-out-btn p a { text-align:right; }

.contineu-place-order { background: #ddc37f; border-radius:0 !important; font-weight:bold; color:#000; font-size:20px; width:60%; margin: 20px 0; z-index: }

.option-btns { padding: 0; margin: 0; border-top:3px solid #c5c5c5; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #e6e6e6; background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); background-repeat: no-repeat; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); transition: all 0.1s linear 0s; }

.option-btns p { padding: 7px 20px; margin: 0; color:#252525; font-size:16px; }

.option-btns p span { padding: 0; margin: 0 10px; }

.red { color:#e95454 !important; }

.red-border { border: 1px solid #e95454 !important; }

.delivery-btns { padding: 0; margin: 0; border-top:3px solid #c5c5c5 !important; -moz-border-bottom-colors: none !important; -moz-border-left-colors: none !important; -moz-border-right-colors: none !important; -moz-border-top-colors: none !important; background-color: #ddc37f !important; background-image: linear-gradient(#4da54d, #4da54d 0%, #398e39) !important; background-repeat: no-repeat !important; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important; transition: all 0.1s linear 0s !important; }

.delivery-btns span { padding: 10px 0px 5px 20px; margin: 0; color:#ffffff; font-size:19px; float:left }

.delivery-btns span b { padding-left:8px; }

.deliver-close { margin-right:30px; color:#FFF !important; margin-top:20px !important; border: none !important; text-shadow:none !important; font-size:25px !important; }

.panel-order-group { border:none !important; margin-bottom: 0 !important; margin-top: 0 !important; border-radius: 0 !important; box-shadow: none !important; }

.angel-rotate { -ms-transform: rotate(45deg); /* IE 9 */ -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */ transform: rotate(45deg); font-size:30px !important; }

.left-delivery { float: left; padding-right: 30px; text-align: right; width: 15% !important; }

.right-delivery { width:40% !important; float:left; }

.save-and-contineu { background: #ddc37f; border-radius:0 !important; font-weight:bold; color:#000; font-size:20px; margin: 0px 0; z-index: }

.delivery-tr { margin: 10px 0; }

.delivery-tr { width:100%; float:left; }

.text-hidden { visibility:hidden; }

.contineu-order-btn { background: #ddc37f; border-radius:0 !important; font-weight:bold; color:#000; font-size:20px; }

.payment-nav { border-bottom: none !important; }

.payment-nav li { display:block !important; width:90% !important; }

.payment-nav > li { padding: 10px 10px !important; }

.payment-nav > li > a { color:#4d4d4d !important; font-size:16px !important; }

.payment-nav li a:hover { background:none !important; border:none !important; }

#FormCaptcha_CaptchaImageDiv a { opacity:0 !important; }

.LBD_SoundLink, .LBD_ReloadLink { display: none !important; }

.cofirm-order-btn { margin-top:20px; }

.payment-nav > li:hover, .payment-nav > li:focus { background: url('../images/card-small.png') no-repeat -2px -27px !important; width: 195px; height: 42px; color: #FFF !important; }
	
.payment-nav li:hover a, .payment-nav li:focus a { background: url('../images/card-small.png') no-repeat -2px -27px !important; width: 195px; height: 42px; color: #FFF !important; text-decoration: none !important; }

.payment-nav > li.active > a { color:#FFF !important; text-decoration: none !important; }

.payment-nav > li.active { background: url('../images/card-small.png') no-repeat -2px -27px !important; width: 195px; height: 42px; color: #FFF !important; }
	
.sign-out-tr { float:left; width:100%; padding: 5px 0; }

.contineu-only { margin-top:10px !important; }

.radio label { display:inline-block; cursor:pointer; position:relative; padding-left:25px; margin-right:15px; font-size:13px; }

.radio input[type=radio] { display:none; }

.radio label:before { content:""; display:inline-block; width:16px; height:16px; margin-right:10px; position:absolute; left:0; bottom:1px; background-color:#aaa; }

.radio label:before { border-radius:8px; }

.radio input[type=radio]:checked + label:before { content:"\2022"; color:#ddc37f; font-size:30px; text-align:center; line-height:11px; }

.visa { background: url('../images/card-small.png') no-repeat -42px -1px; width: 39px; height: 24px; }

.master { background: url('../images/card-small.png') no-repeat -83px -1px; width: 39px; height: 24px; }

.amex { background: url('../images/card-small.png') no-repeat -125px -1px; width: 39px; height: 24px; }

.diners { background: url('../images/card-small.png') no-repeat -166px -1px; width: 33px; height: 24px; }

.discover { background: url('../images/card-small.png') no-repeat -202px -1px; width: 38px; height: 24px; }

.credit-cards { width:100%; float:left; margin: 20px 0 0 0; color:#848484; }

.credit-cards span { float:left; margin: 0 8px; }

.margin-from-top { margin-top:20px; }

.security-guarantee { background: url('../images/card-small.png') no-repeat -2px -71px; width: 269px; height: 49px; float:left; margin-top:15px; }

.pl-ziro { padding-right:10px !important; }