
* { padding: 0; margin: 0; }

body, html { padding: 0; margin: 0; }

body { background:#FFF; font-family: 'MyriadPro-Regular'; }

@font-face { font-family: 'Calibri Regular'; src:url(../fonts/Calibriregular.eot); src:url(../fonts/Calibriregular.ttf); src:url(../fonts/Calibriregular.otf); }

@font-face { font-family: 'MyriadPro-Regular'; src:url(../fonts/MyriadPro-Regular.eot); src:url(../fonts/MyriadPro-Regular.ttf); src:url(../fonts/MyriadPro-Regular.otf); }

.facebook-like-btn { background:#0e6eb0; width:100%; float:left; padding: 10px 0; margin: 0; border-bottom:1px solid #bababa; }

.facebook-like-btn span { color:#FFF; font-size:14px; padding: 0; margin: 0; font-family: 'Calibri Regular'; }

.logo { background: url('../images/image-sprite.png') no-repeat -1px -2px; width: 72px; height: 89px; padding: 0; margin: 15px 0; }

.header-right { padding-top:15px; }

.order-cart-help { padding: 10px 0; margin: 0 auto; width:75%; }

.order-cart-help p { display:inline; border-right:1px solid #c7c7c7; padding: 10px 15px; margin: 0; }

.no-border { border-right:none !important; }

.order-cart-help p a span { position:relative; top:7px; margin-left:10px; }

.order-cart-help p a:hover { text-decoration:none; }

.order-bg { background: url('../images/image-sprite.png') no-repeat -167px -35px; width: 40px; height: 23px; display: inline-block; }

.cart-bg { background: url('../images/image-sprite.png') no-repeat -251px -35px; width: 21px; height: 23px; display: inline-block; }

.help-bg { background: url('../images/image-sprite.png') no-repeat -326px -35px; width: 23px; height: 23px; display: inline-block; }

.order-cart-help p a { color:#3d3d3d; font-size:14px; font-weight:bold; }

.header-right-bottom { padding-top:5px; }

.styled-select .btn-input { display: block; }
 
.styled-select .btn-input .btn span { text-align:center !important;}
 
.styled-select .btn-input .btn.form-control { text-align: left; }
 
.styled-select .btn-input .btn.form-control span:first-child { left: 10px; overflow: hidden; position: absolute; right: 25px; top:7px; }
 
.styled-select .btn-input .btn.form-control .caret { margin-top: -1px; position: absolute; right: 30px; top: 70%; border-bottom-color: #8f8f8f !important; border-top-color: #8f8f8f !important; }

.styled-select .select-btn { border:none !important; background: none !important; box-shadow:none !important; }

.styled-select .dropdown-menu { top:150% !important; z-index:10000; }

.search-bar { border:1px solid #bbbbbb; border-radius:0; height:44px; float:left; width:75%; }

.list-styled-select { float:left; width:25%; border:1px solid #bbbbbb; height:44px; border-left:none !important; }

.list-styled-select .btn-input { display: block; }
 
.list-styled-select .btn-input .btn span { text-align:center !important;}
 
.list-styled-select .btn-input .btn.form-control { text-align: left; }
 
.list-styled-select .btn-input .btn.form-control span:first-child { left: 10px; overflow: hidden; position: absolute; right: 25px; top:12px; line-height:16px; }
 
.list-styled-select .btn-input .btn.form-control .caret { margin-top: -1px; position: absolute; right: 10px; top: 60%; border-bottom-color: #ddc37f !important; border-top-color: #ddc37f !important; }

.list-styled-select .select-btn { border:none !important; background: none !important; box-shadow:none !important; }

.list-styled-select .dropdown-menu { top:115% !important; z-index:10000; }

.search-click-btn { margin-left:6px; }

.modal-close { color:#000 !important; border-radius:50%; border: 3px solid #000 !important; font-size:18px !important; padding: 3px !important; opacity:1 !important; }

.modal-content { padding: 0 10px !important; border-radius: 0 !important; border: 10px solid #cccccc !important; }

.modal-header { border-bottom: 1px solid #656565 !important; }

.email-td { text-align:left !important; top: 0 !important; color:#252525 !important; font-size:14px !important; vertical-align: top !important; }

.search-td { text-align:left !important; color:#252525 !important; font-size:10px !important; padding: 0 20px 10px 20px; }

.email-search { width:100%; padding: 5px 3px; margin-bottom:3px; border: 1px solid #ababab; }

.left-col { border-right: 1px solid #656565 !important; }

.right-col { padding-left:45px; }

.or { border-radius:50%; border: 1px solid #aaaaaa !important; background:#FFF; position:absolute; right:-23px; top: 70px; padding: 5px; font-size:22px; color:#000000; }

.login-btn { bottom: -35px; position:relative; color:#000000; font-size:12px; border-radius:0; background:#ddc37f; border:0; }

.order-btn { color:#000000; font-size:12px; border-radius:0; background:#ddc37f; border:0; }

.row-tr { margin-bottom:5px; }

.right-col p a { color:#252525; font-size:14px; padding-left:5px; }

.modal-dialog { width:670px !important; margin: 30% auto 0 auto !important; }

.navbar-nav { width:100% !important; }

.navbar-nav > li { width:20% !important; }

.navbar-default { color: #252525; background-color: #FFF; border-top: 1px solid #c7a95a; border-bottom: 1px solid #c7a95a; }

.navbar-default .navbar-nav > li > a { color:#252525; font-size:16px; text-align:center !important; }

.navbar-default .navbar-nav > li > a:hover { text-decoration:underline; }

.navbar-default .navbar-nav > .dropdown > a .caret{ border-top-color: #fff; border-bottom-color: #fff; }

.navbar-default .navbar-brand { color:#fff; }

.menu-large { position: static !important; }

.megamenu{ padding: 20px 0px; width:100%; }

.megamenu> li > ul { padding: 0; margin: 0; }

.megamenu> li > ul > li { list-style: none; }

.megamenu> li > ul > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.428571429; color: #333333; white-space: normal; }

.megamenu> li ul > li > a:hover, .megamenu> li ul > li > a:focus { text-decoration: none; color: #262626; background-color: #f5f5f5; }

.megamenu.disabled > a, .megamenu.disabled > a:hover, .megamenu.disabled > a:focus { color: #999999; }

.megamenu.disabled > a:hover, .megamenu.disabled > a:focus { text-decoration: none; background-color: transparent; background-image: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); cursor: not-allowed; }

.megamenu.dropdown-header { color: #428bca; font-size: 18px; }

.dropdown:hover .dropdown-menu { display: block; }

@media (max-width: 768px) {
  
.megamenu{ margin-left: 0 ; margin-right: 0 ; }

.megamenu> li { margin-bottom: 30px; }

.megamenu> li:last-child { margin-bottom: 0; }

.megamenu.dropdown-header { padding: 3px 15px !important; }

.navbar-nav .open .dropdown-menu .dropdown-header{ color:#fff; }

}

.sign-up-row { background:#f6f6f6; border:1px solid #e1e1e1; border-radius:10px; padding: 15px; }

.sign-up-for-newsletter p { padding: 0; margin: 0; }

.sign-up-for-newsletter p span { float:left; color:#ce2b28; font-size:24px; padding: 0; margin: 0 10px 0 0; }

.sign-up-form { border:1px solid #e1e1e1; min-width:300px !important; padding: 5px; }

.follow-us p { padding: 0; margin: 0; }

.follow-us p a { -webkit-transition: all ease 0.3s; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; -ms-transition: all ease 0.3s; transition: all ease 0.3s; display:inline-block; margin: 0 0px 0 20px; padding: 0; }

.follow-us p span { float:left; color:#3d3d3d; font-size:24px; padding: 0; margin: 0; }

.twitter { background: url('../images/image-sprite.png') no-repeat -621px -31px; width: 32px; height: 31px; }

.facebook { background: url('../images/image-sprite.png') no-repeat -696px -31px; width: 33px; height: 31px; }

.google-plus { background: url('../images/image-sprite.png') no-repeat -771px -31px; width: 32px; height: 31px; }

.twitter:hover { background: url('../images/image-sprite.png') no-repeat -996px -31px; width: 32px; height: 31px; }

.facebook:hover { background: url('../images/image-sprite.png') no-repeat -1071px -31px; width: 33px; height: 31px; }

.google-plus:hover { background: url('../images/image-sprite.png') no-repeat -1146px -31px; width: 32px; height: 31px; }

.follow-us p a:hover { box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8); -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -o-transform:rotate(360deg); -ms-transform:rotate(360deg); transform:rotate(360deg); border-radius:50%; }

.footer { padding: 30px 20px; float:left; }

.footer h3 { color:#000000; font-size:20px; padding: 0 0 10px 0; margin: 0; }

.footer ul {}

.footer ul li { list-style:none; }

.footer ul li a { color:#6f6f6f; font-size:18px; }

.footer p { color:#6f6f6f; font-size:18px; padding: 0; margin: 0; }

.bottom-footer { border-top: 1px solid #c7a95a; padding: 20px 0px 30px 0; margin: 0; float:left; width:100%; }

.bottom-footer p { text-align:center; color:#3d3d3d; font-size:16px; padding: 0; margin: 0; }

.bottom-footer p a { color:#3d3d3d; font-size:16px; border-right:1px solid #3d3d3d; padding: 0 10px; margin: 0; }

.bottom-footer p a:last-child { border-right: none; }

.label-default { background:none !important; color:#464646 !important; font-size:14px !important; }

.label { color:#464646 !important; }

.clear-rating i { display:none !important; }